/* Defaults */
    :root {
        --text: rgb(232, 240, 255);
        --background: rgb(232, 240, 255);
        --header:rgb(7, 8, 127);
        --about-me: rgb(170, 45, 70);
        --work:rgb(113, 28, 130);
        --contact: rgb(43, 167, 199);
    }

    .project img {
        opacity: .5;
    }

    .project img:hover {
        opacity: 1;
        transition: 1s;
    }
