/* Defaults */
    :root {
        --text-heading: rgb(232, 240, 255);
        --about-me: rgb(170, 45, 70);
        --background: rgb(232, 240, 255);
        --background-secondary:rgb(7, 8, 127);
    }

/* Body */
    body {
        background-color: var(--background);
        font-family: Helvetica, Arial, sans-serif;
    }

    .section-header {
        color: var(--text-heading);
        text-align: center;
        justify-content: center;
        padding-right: 10px;
        transform: rotate(270deg);        
    }

/* Header */
    header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--text-heading);
    background-color: var(--background-secondary);
    top: 0;
    }

    header h1 {
        font-weight: bold;
        font-size: 50px;
        margin: 21px 25px;
        text-shadow: 2px 2px 8px black;
    }

    header nav ul {
        display: flex;
        flex-wrap: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 20px;
    }

    header nav ul li a {
      padding: 0px 50px;
      font-size: 25px;
      text-shadow: 2px 2px 8px black;
    }

    header nav ul li a {
        color: var(--text-heading);
        text-decoration: none;
    }


/* Hero Banner */
    .hero {
        display: flex;
        flex-wrap: wrap;
        background-image: url("../images/herobanner.png");
        background-size: cover;
        color: var(--text-heading);
        text-shadow: 2px 2px 8px black;
        justify-content: center;
    }

    .hero-img {
        margin: 10px;
    }
    
    .hero-name {
        display: flexbox;
        flex-wrap: wrap;
        justify-content: center;
        margin: 120px 100px;
        text-align: center;
        
    }

    .hero h2 {
       font-size: 50px;
       justify-content: center;
       margin: 0px;
    }

    .hero h3 {
        font-style: italic;
        padding: 0px;
        justify-content: center;
        margin: 0px;
    }

/* About Me */
    .about {
        background: var(--about-me);
        display: flex;
        align-items: center;
        margin: 10px;
        border-radius: 25px;
    }

    .about p {
        color: var(--text-heading);
        text-align: center;
        padding: 0px 30px;
        line-height: 1.6;
        border-left-style: dashed;
        border-left-color: var(--text-heading);
    }
